name: Release
on: workflow_dispatch

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          ref: master

      - name: Setup node
        uses: actions/setup-node@v1
        with:
          node-version: 12.x

      - name: Install
        run: yarn install

      - name: Compile
        run: |
          yarn compile
          yarn compile:esm

      - name: Create Version
        run: |
          git config --global user.email "s2-feature-hub@accenture.com"
          git config --global user.name "Feature Hub CI"
          yarn lerna version --conventional-commits --no-push --yes

      # - name: Publish Version
      #   env:
      #     NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      #   run: |
      #     npm config set "//registry.npmjs.org/:_authToken=${NODE_AUTH_TOKEN}"
      #     yarn lerna publish from-git --yes --no-verify-access

      - name: Push Changes
        env:
          GITHUB_TOKEN: ${{ secrets.CI_GITHUB_TOKEN }}
        run: |
          git remote set-url origin https://x-access-token:${GITHUB_TOKEN}@github.com/sinnerschrader/feature-hub
          git push --follow-tags
